@font-face {
    font-family: 'outfit-bold';
    src: url('../../Assets/Fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'outfit-semibold';
    src: url('../../Assets/Fonts/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'outfit-regular';
    src: url('../../Assets/Fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}